@tailwind base;
@tailwind components;
@tailwind utilities;

/* .svg-pattern {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='1' stroke='hsla(178, 100%, 50%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
} */
/* .svg-pattern-dots {
  background-color: transparent;
  background-image: radial-gradient(#00adb4 0.5px, transparent 0.5px);
  background-size: 10px 10px;
} */

.customModal {
  background: transparent !important;
  box-shadow: none !important;
}
@layer components {
  .editor-ref {
    @apply !bg-transparent !text-black dark:!text-white;
  }
}
